body {
  background-color: #1094F6;
  color: white;
  font-family: "Ubuntu";
}
.tab-title{
  padding-left: 2px;
}
.tab-icon > *{
  width: 24px;
  height: 24px;
}
paper-tab {
  max-width: 400px;
}
paper-tabs /deep/ div.scroll-button{
  display: none;
}
#Content {
  height: calc(100% - 88px);
}
#Header-Omnibox{
  margin: 6px 0;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
#Header-Omnibox:focus{
  outline: none;
}
webview.show{
  display: block;
}
webview{
  display:none;
  width: 100%;
  height: 100%;
}
paper-spinner.backward{
  -webkit-transform: scaleX(-1);
}
paper-spinner.request::shadow .circle {
  border-color: #C8C8C8;
}
paper-spinner.yellow::shadow .circle {
  border-color: #f4b400;
}
